﻿@{
    ViewData["Title"] = "Detail";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Fields)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Value
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Download">
    <input name="path" type="hidden" value="@ViewBag.Blueprint" />
    <input type="submit" value="Download" class="btn btn-default" />
</form>
<br />

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Settings">
        <input name="baseShipId" type="hidden" value="@ViewBag.ShipId" />
        @if (ViewBag.IsUserOwned)
        {
            <input type="submit" value="Change" class="btn btn-default" />
            <form asp-action="Delete"><input type="submit" value="Delete" class="btn btn-default" /></form>
        }
        else if(ViewBag.CanUserAdd)
        {
            <input type="submit" value="Add to my library" class="btn btn-default" />
        }
    </form>
}

