﻿
@{
    ViewData["Title"] = "Save";
}

<h2>Save</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Value New
            </th>
            <th>
                Value Old
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var enumeratorOld = ViewBag.OldFields.GetEnumerator() as IEnumerator<FieldDescription>;
            var enumeratorNew = ViewBag.NewFields.GetEnumerator() as IEnumerator<FieldDescription>;
            while (enumeratorOld.MoveNext() && enumeratorNew.MoveNext())
            {
                <tr>
                    <td>
                        @enumeratorOld.Current.Name
                    </td>
                    <td>
                        @enumeratorNew.Current.Value
                    </td>
                    <td>
                        @enumeratorOld.Current.Value
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<form asp-action="Start">
        <input type="submit" value="На главную" class="btn btn-default" />
</form>
