﻿
@{
    ViewData["Title"] = "Settings";
}

<h2>Settings</h2>

<form asp-action="Save">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Value
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Fields)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Дифферент [см]</h3>
    <input name="massCenter" type="range" min="-300" max="300" />
    <h3>Наклон мачт</h3>
    <input name="mastAngle" type="range" min="-15" max="15" />
    <h3>Остов</h3>
    @Html.DropDownList("carcassWood", ViewBag.Wood as SelectList);
    <h3>Обшивка</h3>
    @Html.DropDownList("plankingWood", ViewBag.Wood as SelectList);
    <h3>Мачтовое дерево</h3>
    @Html.DropDownList("mastWood", ViewBag.Wood as SelectList);
    <h3>Палубные доски</h3>
    @Html.DropDownList("deckWood", ViewBag.Wood as SelectList);
    <input name="shipId" type="hidden" value="@ViewBag.ShipId" />
    <br />
    <hr />
    <input type="submit" value="Save" />
</form>