﻿@model IEnumerable<ShipsMVC.Models.Ship>

@{
    ViewData["Title"] = "Your Ships";
}

<h2>Start</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "UserShips", new { sortType = ViewBag.NameSortPar });
            </th>
            <th>
                @Html.ActionLink("Year of building", "UserShips", new { sortType = ViewBag.YearSortPar });
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfBuilding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipType.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
