﻿@model ShipsMVC.Models.Ship

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Ship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveShipInDatabase">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfBuilding" class="control-label"></label>
                <input asp-for="YearOfBuilding" class="form-control" />
                <span asp-validation-for="YearOfBuilding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxSpeed" class="control-label"></label>
                <input asp-for="MaxSpeed" class="form-control" />
                <span asp-validation-for="MaxSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RotationSpeed" class="control-label"></label>
                <input asp-for="RotationSpeed" class="form-control" />
                <span asp-validation-for="RotationSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manageability" class="control-label"></label>
                <input asp-for="Manageability" class="form-control" />
                <span asp-validation-for="Manageability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullHp" class="control-label"></label>
                <input asp-for="FullHp" class="form-control" />
                <span asp-validation-for="FullHp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SideThickness" class="control-label"></label>
                <input asp-for="SideThickness" class="form-control" />
                <span asp-validation-for="SideThickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MastHp" class="control-label"></label>
                <input asp-for="MastHp" class="form-control" />
                <span asp-validation-for="MastHp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipLength" class="control-label"></label>
                <input asp-for="ShipLength" class="form-control" />
                <span asp-validation-for="ShipLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipWidth" class="control-label"></label>
                <input asp-for="ShipWidth" class="form-control" />
                <span asp-validation-for="ShipWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipHeigth" class="control-label"></label>
                <input asp-for="ShipHeigth" class="form-control" />
                <span asp-validation-for="ShipHeigth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SailArea" class="control-label"></label>
                <input asp-for="SailArea" class="form-control" />
                <span asp-validation-for="SailArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SailMass" class="control-label"></label>
                <input asp-for="SailMass" class="form-control" />
                <span asp-validation-for="SailMass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>