﻿
@{
    ViewData["Title"] = "Subscribe";
}

<h2>Subscribe</h2>

<h2>Существуюшщие подписки</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Subscribe sub in ViewBag.Subscribe)
        {
            <tr>
                <td>@sub.Name</td>
                <td>@sub.Priority</td>
                <td>
                    <form asp-action="SubscribeDetails">
                        <input type="hidden" value="@sub.Id" name="subId" />
                        <input type="submit" value="Детали" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
    
</table>
<hr />
<h2>Создать подписку</h2>

<form asp-action="Subscribe">
    <label>Количество ограничений</label>
    <input name="limitCount" type="range" min="0" max="@ViewBag.LimitAll" />
    <input type="submit" value="Подтвердить" />
</form>
<hr />
<form asp-action="AddSubscribe">
    <label>Название</label>
    <br />
    <input title="Name" name="SubName" />
    <br />
    <label>Приоритет</label>
    <br />
    <input type="number" title="Priority" name="subPriority" />
    <br />
    <label>Стоимость</label>
    <br />
    <input type="number" title="Cost" name="cost" />
    <br />
    <label>Срок действия, в днях</label>
    <br />
    <input type="number" title="Days" name="time" />
    <hr />
    <h2>Ограничения</h2>
    <br />
    @for (int i = 0; i < ViewBag.LimitCount; i++)
    {
        var limit = ViewBag.Limits as SelectList;
        @Html.DropDownList($"limitsId[{i}]", limit);
        <br />
    }
    @if (ViewBag.LimitCount > 0)
    {
        <input type="submit" value="Сохранить" />
    }
</form>
