﻿
@{
    ViewData["Title"] = "Limit";
}

<h2>Существуюшщие ограничения</h2>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Limit limit in ViewBag.Limits)
        {
            <tr>
                <td>@limit.Type.Name</td>
                <td>@limit.Value</td>
            </tr>
        }
    </tbody>

</table>
<hr />


