﻿
<form asp-action="PayRequest" asp-controller="Account" asp-route-id=@ViewBag.Id>
    <input type="radio" name="isAutomatic" id="Auto" />
    <label for="Auto">Продлять подписку автоматически</label>
    <br />
    <input type="submit" value="Подтвердить оплату" />
</form>


